* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


h2 {
  color: #4F4C4C;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 45px;
}

button {
  cursor: pointer;
}

:root {
  --purple: #690F8E;
  --red: #B00024;
  --blue: #035A76;;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}



/* -------------------------------- Header  --------------------------- */

header {
  background-color: rgba(51, 51, 51, 0); /* Color de fondo del header */
  color: #fff; /* Color del texto */
  padding: 20px 0px; /* Espaciado interno */
  position: fixed; /* El header se mantiene fijo en la parte superior de la pantalla */
  top: 0; /* Coloca el header en la parte superior de la pantalla */
  width: 100%; /* Ancho completo de la pantalla */
  z-index: 999; /* Coloca el header encima de otros elementos */
  transition: background-color 0.3s;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header_icon {
  display: none;
  right: 20px;
  position: absolute;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
}

#check {
  display: none;
}


/* Estilo específico para los botones de navegación */
.nav a {
  display: inline-block; /* Hace que los enlaces sean elementos en línea con anchura y altura */
  padding: 10px 15px; /* Espaciado interno de los botones */
  text-decoration: none; /* Sin subrayado en los botones */
  color: #fff; /* Color del texto de los botones */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; /* Negrita */
  border: none; /* Sin borde */
  outline: none; /* Sin contorno de enfoque */
  cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
}

/* -------------------------------- Descripcion  --------------------------- */

.description {
  text-align: center; /* Centra el texto de la descripción */ 
  background: url('../img/headerimg.png') center center/cover; /* Fondo de imagen */
  background-size: cover;
  background-position: center;
  color: #fff; /* Color del texto */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc( 100vh + 30px);
}

.description h1 {
  font-size: 64px;
  font-family: 'Montserrat', sans-serif; /* Fuente distinta */
}

/* Estilo para el párrafo de descripción */
.description p { /* Tamaño de letra más grande */
  margin-bottom: 50px; /* Margen inferior */
  padding: 0% 25% 0% 25%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-button {
  background-color: transparent; /* Sin relleno */
  color: #B72E2E; /* Color del texto del botón */
  padding: 10px 30px; /* Espaciado interno del botón */
  border: 1px solid #B72E2E; /* Contorno rojo de 2 píxeles */
  border-radius: 5px; /* Borde redondeado */
  font-weight: bold; /* Negrita */
  font-size: 22px;
  text-decoration: none;
  transition: all ease-in-out .3s;
}

.contact-button:hover {
  background-color: #B72E2E;
  color: #fff;
}



/* -------------------------------- About Us  --------------------------- */
.about-us {
  display: flex; /* Usa el modelo de caja flexible (flexbox) */
  align-items: center;
  justify-content: space-between; 
  margin: 50px auto;
  height: 700px;
}

/* Estilo para la imagen en la sección "About Us" */
.about-us img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

/* Estilo para el contenido de texto en la sección "About Us" */
.about-us-text {
  width: 60%;
  max-width: 600px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}


.about-us-text p{
    color: #000;
    font-family: 'Open Sans', sans-serif;
}


/* -------------------------------- Destacados  --------------------------- */

.destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
}

.destacados_img {
  max-width: 100%;
  width: 850px;
}

.destacados_p {
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}


/* -------------------------------- Servicios  --------------------------- */

.servicios {
  background-color: #F7F4F4;
  padding: 60px 0px;
}


.servicios .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  margin: 20px auto;
  max-width: 1200px;
}

.servicios_article {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  padding: 0px 0px 10px 0px;
  border-radius: 5px;
  min-width: 330px;
}

.servicios_article-img {
  border-radius: 5px 5px 0px 0px;
  object-fit: none;
  width: 100%;
  height: 140px;
}

.servicios_article-content { 
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicios_article-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 15px 0px;
}

.servicios_article-ul {
  padding: 0px;
}

.servicios_article-item {
  list-style-type: none;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.servicios_article-button {
  background-color: #fff;
  font-size: 24px;
  transition: all ease-in-out 0.3s;
  padding: 4px 20px;
  margin: 10px 0px;
}

.servicios_article-button:hover {
  color: #fff;
}



/* --------------------------------------- Modal ------------------------------- */

.modal-btnclose {
  font-size: 20px;
  position: absolute;
  padding: 14px;
  right: 8px;
  top: 3px;
  color: #aaa;
  background-color: transparent;
  border: none;
  transition: all ease-in-out .3s;
}

.modal-btnclose:hover {
  color: #000;
}

.modal {
  border: none;
  margin: auto;
}

.modal_container {
  max-width: 800px;
  display: flex;
  border-radius: 5px;
}

.modal_img {
  object-fit: cover;
  object-position: center;
  width: 40%;
}

.modal_content {
  padding: 20px;
  width: 60%;
  min-width: 360px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_content-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 15px 0px;
  margin-bottom: 10px;
}

.modal_content-ul {
  padding: 20px 20px;
}

.modal_content-item {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 15px;
}

.modal_content-button {
  background-color: #fff;
  font-size: 24px;
  transition: all ease-in-out 0.3s;
  padding: 4px 20px;
  margin-top: 20px;
}

.modal_content-button:hover { 
  color: #fff;
}


/* --------------------------- Contact ---------------------------------- */
.contact {
  width: 100%;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 82px 0px;
}

h3 {
  color: #333;
  font-size: 24px;
}


.form {
  width: 90%;
  max-width: 600px;
  padding: 40px;
  position: relative;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0px;
}

/* Estilos de los campos de entrada */
.contact_inputs {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.form_label {
  color: #4F4C4C;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}


.contact_textarea {
  height: 150px; 
}

.contact_inputs:focus {
  border: none;
  border-bottom: 2px solid #333;
}

/* --------------------------- Footer ---------------------------------- */
.footer {
  background-color: #333; /* Color de fondo de la sección */
  color: #fff; /* Color del texto */
  
}

.footer .container {
  padding: 0; /* Elimina el espaciado interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 15vh;
}

/* Estilos del logo */
.footer_logo img {
  height: 35px;
  margin: 10px; /* Agrega margen alrededor del logo */
}

/* Estilos de la información de contacto */
.informacion-contacto {
  text-align: right; /* Alineación a la derecha */
  margin: 10px; /* Agrega margen alrededor de la información de contacto */
}


/* --------------------------- Colors ---------------------------------- */
.buttonRed {
  color: var(--red);
  border: solid var(--red) 1px;
}

.buttonRed:hover {
  background-color: var(--red);
}

.buttonBLue {
  color: var(--blue);
  border: solid var(--blue) 1px;
}

.buttonBLue:hover {
  background-color: var(--blue);
}

.buttonPurple {
  color: var(--purple);
  border: solid var(--purple) 1px;
}

.buttonPurple:hover {
  background-color: var(--purple);
}



.titleRed {
  color: var(--red);
}

.titleBlue {
  color: var(--blue);
}

.titlePurple {
  color: var(--purple);
}



.section-3 {
  background-color: #F7F4F4;
  padding: 70px 10% 70px 10%;
}

.section-3-first{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space {
  width: 30%;
}

.section-3-element {
  display: flex;
  flex: 1;
  text-align: left;
  width: 30%;
  align-self: center;
  margin: 0 auto;
  min-width: 200px;
}

.section-3-element img{
  width: 30px;
  object-fit: contain;
  align-self: baseline;
  margin-top: 25px;
}

.section-3-element-text {
  margin-left: 10px
}

.section-3-element-text h2 {
  font-family: 'Open Sans', sans-serif;
  color: #4F4C4C;
}

.section-3-element-text p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}



@media screen and ( max-width : 900px ) {
  .description p {
    padding: 0px 10px;
  }

  .modal_container {
    height: 600px;
    flex-direction: column;
    max-height: 900px;
    display: flex;
    border-radius: 5px;
    width: auto;
    max-width: 450px;
  }
  
  .modal_img {
    width: 100%;
    height: 40%;
  }
  
  .modal_content {
    width: 100%;
    height: 60%;
  }

}


@media screen and ( max-width : 751px) {
  /* -------------------------------- Header  --------------------------- */
  .header_icon {
    display: inline-flex;
  }

  .header_icon #close_icon {
    display: none;
  }

  #check:checked~.header_icon #menu_icon {
    display: none;
  }

  #check:checked~.header_icon #close_icon {
    display: block;
  }

  .nav {
    background-color: rgb(51, 51, 51);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.nav {
    height: 19rem;
  }

  .nav a {
    display: block;
    text-align: center;
    font-size: 1.1 rem;
    font-weight: normal;
    margin: 1.5rem 0;
    transform: translateY(-50px);
    transition: .3s ease;
  }

  #check:checked~.nav a {
    transform: translateY(0);
  }

  /* -------------------------------- Descripcion  --------------------------- */
  .description h1 {
    font-size: 48px;
  }

  .description p {
    padding: 0px 10px;
  }

  /* -------------------------------- About Us  --------------------------- */
  .about-us {
    flex-direction: column-reverse;
  }

  .about-us-text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .about-us img {
    width: 100%;
  }

  .about-us h2 {
    margin-bottom: 20px;
  }

  /* -------------------------------- Servicios  --------------------------- */
  .servicios {
    background-color: #F7F4F4;
    padding: 60px 0px;
  }

  .servicios .container {
    justify-content: space-around;
  }

  .servicios_article {
    min-width: 274px;
  }

  /* -------------------------------- Footer  --------------------------- */
  .footer .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
  }

  
  /* Estilos de la información de contacto */
  .informacion-contacto {
    text-align: center;
  }
  

}


@media screen and ( max-width : 450px) {
 .description h1 {
  font-size: 35px;
 }

 .modal_content {
  min-width: 270px;
 }
 
 .contact {
  padding: 0;
  margin: 20px 0px;
  height: auto;
 }

 .form {
  padding: 10px 0px;
 } 
}
